.idea/
target/
python/simulation/*.jpg
**/*.gif
**/~$*.*
**/*.swp
**/.DS_store
**/.ipynb_checkpoints/
**/*_bk.*
backup/
**/old/
data/covid-19-in-the-american-continent/vis/
data/points/
data/*.csv
data/**/*.csv
data/**/*.txt